[transmission]
authenticate = False
ip_address =
port =
sleep_days =
sleep_time =

[download]
# second
retry_interval = 10

[recommended]
enable = False
credential = cred1
categories = movies;series;musics;games;programs;books;xxx
max_size = 3 GB
# hour
retry_interval = 5
movies =
series =
musics =
games =
books =
programs =
xxx =

[rss bookmark1]
credential = cred1
limit =
url =
movies =
series =
musics =
clips =
games =
books =
programs =
xxx =

[rss bookmark2]
credential = cred2
limit =
url =
movies =
series =
musics =
clips =
games =
books =
programs =
xxx =
