[transmission]
authenticate = False
ip_address =
port =
sleep_time =

[download]
# second
retry_interval = 10

[recommended]
enable = False
credential = cred1
categories = movies;series;musics;games;programs;books;xxx
max_size = 3 GB
# day
retry_interval = 1
movies =
series =
musics =
games =
books =
programs =
xxx =

[rss bookmark1]
credential = cred1
url =
movies =
series =
musics =
clips = 
games =
books =
programs =
xxx =

[rss bookmark2]
credential = cred2
url =
movies =
series =
musics =
clips = 
games =
books =
programs =
xxx =
