[transmission]
user_name = username
raw_password = password
password =

[cred1]
user_name = username
raw_password = password
password =

[cred2]
user_name = username
raw_password = password
password =

